
.main {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	
	padding: 50px 0;
}
.main .head {
	font-size: 45px;

	position: relative;
	margin-bottom: 100px;
	font-weight: 500;
  font-weight: 900;
  background: linear-gradient(to right, #f32170,
  #ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.main .head::after {
	content: " ";
	position: absolute;
	width: 50%;
	height: 3px;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.767),rgba(143, 109, 205, 0.702));
}

/* Container Css Start  */

.contain {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}
.contain ul {
	list-style: none;
}
.contain ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, rgba(9, 8, 9, 0.767), rgba(12, 19, 238, 0.747));
}
.contain ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: #000000;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(143, 109, 205, 0.702);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}
.contain ul li:nth-child(4) {
	margin-bottom: 0;
}
.contain ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ce23fd7a;
	top: 0;
	display: grid;
	place-items: center;
}
.circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color:rgba(143, 109, 205, 0.702);
	border-radius: 50%;
}
ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,#181619,#a11ff1);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.contain ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	right: 20px;
}
.contain ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
ul li .heading {
	font-size: 17px;
	color:#cc6ee9;
}
ul li p {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
	font-size: 13px;
	text-decoration: none;
	color: #9e24f0;
	transition: all 0.3s ease;
}


@media only screen and (min-width:798px) and (max-width: 1100px) {
	.contain{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.contain{
		width: 70%;
		transform: translateX(20px);
	}
	.contain ul::after{
		left: -40px;
	}
	.contain ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.contain ul li .circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	.contain ul li .date{
		left: 20px;
	}
	.contain ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.contain ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	.contain{
		width: 80%;
	}
	.contain ul::after{
		left: -20px;
	}
	.contain ul li .circle{
		left: -20px;
	}
}