@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 25px;
  color: white;

}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
}

/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
  /* display:flex;
  justify-content: center; */
  
}
.flexSB {
  display: flex;
  justify-content: space-between;


  
  
}

.fix{
  position: fixed;
  width: 100%;
  top: 10px;
  background-color: #0f0f0f;
  overflow: hidden;

   
    z-index: 1000;

 
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color:white;
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  background-color:rgba(143, 109, 205, 0.702);
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.row {
  width: 50%;
}
button {
  padding: 17px 30px;
  background-color: #fff;
  color: #ffffff;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
  background-color: black;
}
button i {
  margin-left: 20px;
}
button:hover {
  box-shadow: none;
}
.primary-btn {
  background-color:rgba(143, 109, 205, 0.702);
  color: #fff;
}

/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}
#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;

  background: linear-gradient(to right, #f32170,
  #ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
p {
  line-height: 30px;
  font-size: 18px;
  color: white;
}

.back {
  background-image: url("../public/images/back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}
.back h1 {
  font-size: 100px;
  font-weight: 400;
}
.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}
.margin {
  margin-top: 10%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  border: 3px solid transparent;
  border-radius: 10px;
 
}
.flex {
  display: flex;
}
.grid2 {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; */
  display: flex;
  justify-content: center;
  gap:30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid rgba(143, 109, 205, 0.702);
  width: 25%;
  min-width: 130px;
  transition: 0.5s;
  color: white;
  background-color: black;
}
.outline-btn:hover {
  background-color:rgba(143, 109, 205, 0.702);
  color: #fff;
}
.grid3 {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px; */
  display: flex;
  justify-content: center;
  gap:5%;
  flex-wrap: wrap;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
 /* background-color: #000000;*/
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(143, 109, 205, 0.702);
  animation: borderLight 2s infinite;
  
}
@media screen and (max-width: 768px) {
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .back {
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}


.wrapper{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
}